<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.capstone.dao.ReportMapper">
	
	<resultMap type="report" id="result">
		<id property="id" column="id" />
		<result property="REPORTID" column="REPORTID" />
		<result property="REPORTNAME" column="REPORTNAME" />
		<result property="HISTORYMAXDAYS" column="HISTORYMAXDAYS" />
		<result property="NONSPOOLFILE" column="NONSPOOLFILE" />
		<result property="DESCRIPTION" column="DESCRIPTION" />
		<result property="TITLE" column="TITLE" />
		<result property="ABSTRACT" column="ABSTRACT" />
		<result property="EXPIRATIONDAYS" column="EXPIRATIONDAYS" />
		<result property="SKIPPAGES" column="SKIPPAGES" />
		<result property="UPLOADEDFILENAME" column="UPLOADEDFILENAME" />
		<result property="CREATIONDATE" column="CREATIONDATE" />
		<result property="ALLOWPRNT" column="ALLOWPRNT" />
		<result property="ADDEDBY" column="ADDEDBY" />
		<result property="MODIFIEDBY" column="MODIFIEDBY" />
		<result property="AS400ID" column="AS400ID" />
		<result property="STATUS" column="STATUS" />
		<result property="DELETEDBY" column="DELETEDBY" />
		<result property="MULTIREPORTS" column="MULTIREPORTS" />
		<result property="FILENAME" column="FILENAME" />
		<result property="ALLOWOVERRIDEES" column="ALLOWOVERRIDEES" />
		<result property="NUMCOLUMNS" column="NUMCOLUMNS" />
		<result property="CONFIDENTIAL" column="CONFIDENTIAL" />
		<result property="BIREPORT" column="BIREPORT" />
		<result property="HELPURL" column="HELPURL" />
		<result property="HELP" column="HELP" />
		<result property="DETAILDESCRIPTION" column="DETAILDESCRIPTION" />
		<result property="COMBINE_PDF_REPORT" column="COMBINE_PDF_REPORT" />
	</resultMap>
	
	<select id="getAllReports" resultType="report" resultMap="result">
		SELECT * FROM t_report
	</select>
	
	
</mapper>
